.patent-design {
    width: 100%;
    height: 100vh;
    background: #dedede;
    background-image: url(../images/final_layout/exclusivedesign_bg.jpg);
    background-size: cover;
    background-position: center;
}