@media screen and (max-width: 800px) {
    .header {

        .header-logo {
            flex: 1;
        }

        .header-mobile-switch {
            display: flex;
        }

        .container {}

        .header-menu {
            display: none;
        }

        .header-icon {}

        .header-lang {
            display: none;
        }
    }
}