@media screen and (max-width: 800px) {
    .header {
        .header-logo {
            flex: 1;
        }

        .header-mobile-switch {
            display: flex;
        }

        .header-menu ul {
            position: fixed;
            top: 80px;
            left: 0;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 15px;
            padding-bottom: 15px;
            background: #dedede;
            display: none;
        }

        .header-lang {
            display: none;
        }
    }

    #mobile-checkbox {
        &:checked {
            ~.header-mobile-switch {
                >span {
                    background: #1f2128;

                    &:first-child {
                        transform: rotate(45deg);
                        top: 9px;
                    }

                    &:nth-child(2) {
                        transition: none;
                        visibility: hidden;
                    }

                    &:last-child {
                        transform: rotate(-45deg);
                        top: -9px;
                    }
                }
            }

            ~.header-menu ul {
                display: flex;
            }
        }
    }
}