@media screen and (max-width: 800px) {
    .header {
        .header-content {
            position: relative;

            .menu {
                // display: none;
                position: absolute;
                background: #fff;
                top: -500px;
                width: 100%;
                left: 0;
                opacity: 0;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                padding-top: 30px;
                padding-bottom: 30px;
                transition: 0.3s;

                ul {
                    flex-direction: column;

                    li {
                        margin-right: 0;
                        margin-bottom: 30px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .mobile-switch {
                display: flex;
            }

            #mobile-switch-box {
                &:checked {
                    ~.menu {
                        // display: block;
                        top: 90px;
                        opacity: 1;
                    }

                    ~.mobile-switch {
                        >span {
                            background: #9a8c98;

                            &:first-child {
                                position: relative;
                                transform: rotate(45deg);
                                top: 5px;
                            }

                            &:nth-child(2) {
                                display: none;
                            }

                            &:last-child {
                                position: relative;
                                transform: rotate(-45deg);
                                top: -5px;
                            }
                        }
                    }
                }
            }
        }
    }
}