@import 'reset';

html,
body {
    font-size: 16px;
}

.container {
    max-width: 1000px;
    padding: 0 15px;
    margin: auto;
    height: 100%;
    position: relative;
}

#mobile-checkbox {
    display: none;
}

@import 'final_layout/header';
@import 'final_layout/footer';
@import 'final_layout/slider';
@import 'final_layout/patent_design';

.page {
    height: 100vh;
}

@import 'final_layout_mobile';