@import 'reset';

.container {
    max-width: 1000px;
    padding: 0 15px;
    margin: auto;
    height: 100%;
    position: relative;
}

#mobile-checkbox {
    display: none;
}

.header {
    height: 80px;
    background: #dedede;
    font-weight: 700;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-mobile-switch {
        display: none;
        width: 30px;
        flex-direction: column;
        gap: 5px;
        margin-right: 15px;
        cursor: pointer;

        >span {
            position: relative;
            width: 100%;
            height: 4px;
            background: #1f2128;
            border-radius: 15px;
            transition: 0.3s;
        }
    }



    .header-menu {
        display: flex;
        gap: 30px;
    }

    .header-icon {
        font-size: 20px;
        display: flex;
        gap: 30px;
    }
}

.footer {
    padding: 30px 0;
    background: #1f2128;
    color: #fff;
    text-align: center;

    .footer-social {
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .footer-copyright {
        margin-top: 30px;
        font-size: 14px;
    }
}

.page {
    height: 100vh;
}

@import 'final_layout_mobile';