@import 'reset';

.container {
    max-width: 800px;
    margin: auto;
    position: relative;
    height: 100%;
}

.title {
    text-align: center;
    padding-top: 50px;
    margin: 30px 0;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    th {
        background: #9fb6cc;
        color: #fff;
    }

    th,
    td {
        border: 1px solid #888787;
        padding: 10px;
    }

    td:last-child {
        text-align: right;
    }
}

.func {
    text-align: right;
    margin-bottom: 20px;

    button {
        padding: 10px 20px;
        border: 0;
        background: #333741;
        color: #fff;
        font-size: 16px;
        font-weight: 800;
        cursor: pointer;

        &:hover {
            background: #fda623;
        }
    }
}

@import '_rwd_for_print';