@import 'reset';

.container {
    max-width: 800px;
    height: 100%;
    position: relative;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#name {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #dedede;
    outline: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

#hi {
    padding: 10px 15px;
    border: 0;
    background: #504841;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background: #b5b6b2;
    }
}

.fn {
    text-align: right;
}

#response {
    padding: 15px;
    border: 1px solid #dedede;
    width: 100%;
    min-height: 200px;
    margin-top: 20px;
}