@import 'reset';

.container {
    max-width: 800px;
    height: 100%;
    position: relative;
    padding: 0 15px;
    margin: auto;
}

.todo-input {
    display: flex;
    align-items: center;
    margin-top: 50px;

    >label {
        margin-right: 15px;
        font-size: 25px;
    }

    >input {
        flex: 1;
        outline: 36px;
        outline: 0;
        padding: 0 15px;
        border: 0;
        border-bottom: 1px solid #000;
        font-size: 20px;
    }

    >button {
        padding: 10px 20px;
        border: 0;
        background: #757575;
        color: #fff;
        margin-left: 15px;
    }
}