@import 'reset';

.container {
    max-width: 500px;
    height: 100%;
    position: relative;
    margin: auto;
}

.rotate {
    transform: rotate(245deg);
    display: inline-flex;
    width: 100px;
    height: 100px;
    margin-top: 50px;
    background-color: red;
    color: yellow;
}

.sp {
    display: flex;
    margin-top: 150px;
    width: 100px;
    height: 100px;
    background-color: red;
    color: #fff;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);

    >span {
        transform: rotate(135deg);
        font-size: 30px;
        font-weight: 800;
    }
}

.product {
    margin-top: 100px;
    display: block;
    background: #dedede;
    padding: 10px;
    width: 300px;
    height: 500px;
    overflow: hidden;

    .product-img {
        width: 100%;
        height: 200px;
        background: #96826f;
        color: #fff;
        font-size: 25px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        >div:first-child {
            transition-duration: 1s;
        }

        &:hover {
            >div:first-child {
                transform: scale(2);
            }
        }

        .product-discount {
            position: absolute;
            top: 36px;
            right: -95px;
            color: red;
            background: rgb(255, 255, 255);
            width: 100%;
            text-align: center;
            transform: rotate(45deg);
            font-size: 18px;
        }
    }

    .product-name {
        font-size: 15px;
        font-weight: 800;
    }

    .product-memo {
        font-size: 15px;
        font-weight: 800;
    }
}

.small-font {
    margin: 50px;
    font-size: 5px;
    transform: scale(0.5);
}

.bg-change {
    margin: 50px auto;
    background: rgb(202, 43, 43);
    color: rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background;
    transition-duration: 3s;

    &:hover {
        background: rgb(11, 29, 105);
        color: rgb(255, 238, 0);
    }
}